:root {
  max-width: 1250px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* color-scheme: light dark; */
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;
  line-height: 1.5;
  font-weight: 400;
  background-image: url(10.jpg);
  background-size: cover;
  height: '100vh';
  width: '100vw',
}

button {
  font-size: medium;
  color: aqua;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
    
  }
  button {
    background-color: #f9f9f9;
  }
}

form{
  width: 1170px;
  margin: auto;
  display: flex;
  gap: 20px;
}

form input{
  border-radius: 8px;
  height: 40px;
  flex-basis: 80%;
  font-size: medium;
}

form button{
  flex-basis: 20%;
}
.OuterDiv{
  width: 1170px;
  margin: auto;
}

.OuterDiv ul{
  font-size: medium !important;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.OuterDiv ul li{
  color: rgb(53, 14, 14);
  padding: 10px;
  font-size: 25px;
  margin-bottom: 20px;
  background-color: black;
  text-align: left;
  position: relative;
}

.OuterDiv ul li span{
  right: 20px;
  cursor: pointer;
  position: absolute;
  color: black;
}

.completetodo{
  text-decoration: line-through;
  color: red;
  background-color: yellow;
}

